nodeRed/flows.json
[
    {
        "id": "3b6c17648570cf84",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd27cbe1e34e757e",
        "type": "tab",
        "label": "StartServices",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2357919e6cb1877f",
        "type": "tab",
        "label": "SchedulerTest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04fe0b4eaf4d3a1b",
        "type": "subflow",
        "name": "getTemp",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 180,
                "wires": [
                    {
                        "id": "c66204e33a2b7851"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 320,
                "wires": [
                    {
                        "id": "a74e73c619e2886b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "163694fedffa4e54",
        "type": "subflow",
        "name": "Alarm",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 220,
                "wires": [
                    {
                        "id": "2958aa2ff2d39199"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "be52314f2c5df85b",
        "type": "subflow",
        "name": "allLights",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "be4191076729574e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e350eee7579e2892",
        "type": "subflow",
        "name": "maintainTemp",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 160,
                "wires": [
                    {
                        "id": "1ea7c45f052bd412"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e105f671fc970370",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e99ae53464ca7e5d",
        "type": "ui_group",
        "name": "Default",
        "tab": "d2b56655774fb6c1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2b56655774fb6c1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a562aaacc8e5436",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0d39bebe385f375b",
        "type": "mqtt out",
        "z": "04fe0b4eaf4d3a1b",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "a74e73c619e2886b",
        "type": "mqtt in",
        "z": "04fe0b4eaf4d3a1b",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e105f671fc970370",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "6dc29fe9ca23dfce"
            ]
        ]
    },
    {
        "id": "c66204e33a2b7851",
        "type": "function",
        "z": "04fe0b4eaf4d3a1b",
        "name": "ConvertInput",
        "func": "var nodeIn = msg.payload.nodeIn;\nvar mqttIn = { topic: nodeIn };\nvar nodeOut = msg.payload.nodeOut;\nvar mqttOut = { topic: nodeOut, action: \"subscribe\" };\nreturn [mqttIn,mqttOut];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "0d39bebe385f375b"
            ],
            [
                "a74e73c619e2886b"
            ]
        ]
    },
    {
        "id": "6dc29fe9ca23dfce",
        "type": "function",
        "z": "04fe0b4eaf4d3a1b",
        "name": "function 9",
        "func": "\nreturn {topic:msg.topic, action:\"unsubscribe\"};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "a74e73c619e2886b"
            ]
        ]
    },
    {
        "id": "2958aa2ff2d39199",
        "type": "switch",
        "z": "163694fedffa4e54",
        "name": "turnOnAlarm",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 288.75,
        "y": 226.25,
        "wires": [
            [
                "96f16321137ef762"
            ],
            [
                "d8e5dbbd21882949"
            ]
        ]
    },
    {
        "id": "d8e5dbbd21882949",
        "type": "change",
        "z": "163694fedffa4e54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 468.75,
        "y": 306.25,
        "wires": [
            [
                "f9457a46457d1479",
                "051ab0f92a35523f"
            ]
        ]
    },
    {
        "id": "f9457a46457d1479",
        "type": "trigger",
        "z": "163694fedffa4e54",
        "name": "",
        "op1": "alarmStep",
        "op2": "1",
        "op1type": "flow",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "stop",
        "bytopic": "all",
        "topic": "state",
        "outputs": 1,
        "x": 728.75,
        "y": 226.25,
        "wires": [
            [
                "cc31409ccd0aa0df"
            ]
        ]
    },
    {
        "id": "051ab0f92a35523f",
        "type": "function",
        "z": "163694fedffa4e54",
        "name": "function 4",
        "func": "var a = {payload:\"0\"};\nvar b = {payload:\"0\"};\nvar c = {payload:\"0\"};\n\nreturn [a,b,c];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 583.75,
        "y": 388.25,
        "wires": [
            [
                "bfc5360848e5ede4"
            ],
            [
                "1bcc0ea77bcca5c5"
            ],
            [
                "83d97c05ce6f0c97"
            ]
        ]
    },
    {
        "id": "bfc5360848e5ede4",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "name": "",
        "topic": "home-1-in/1/0/1/0/2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 843.75,
        "y": 348.25,
        "wires": []
    },
    {
        "id": "1bcc0ea77bcca5c5",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "name": "",
        "topic": "home-1-in/1/2/1/0/2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 843.75,
        "y": 388.25,
        "wires": []
    },
    {
        "id": "83d97c05ce6f0c97",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "name": "",
        "topic": "home-1-in/1/3/1/0/2",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 843.75,
        "y": 428.25,
        "wires": []
    },
    {
        "id": "a84168ca3a323b3a",
        "type": "function",
        "z": "163694fedffa4e54",
        "name": "function 6",
        "func": "var i = flow.get(\"alarmStep\")\nif(i == \"1\"){\n    var a = { payload: \"1\" };\n    var b = { payload: \"1\" };\n    var c = { payload: \"1\" };\n}else{\n    var a = { payload: \"0\" };\n    var b = { payload: \"0\" };\n    var c = { payload: \"0\" };\n}\n\n\nreturn [a,b,c];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 200,
        "wires": [
            [
                "899d109f9e408baa"
            ],
            [
                "5afddf72f2be602f"
            ],
            [
                "5a33996b81f51c1c"
            ]
        ]
    },
    {
        "id": "899d109f9e408baa",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "name": "",
        "topic": "home-1-in/1/0/1/0/2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1463.75,
        "y": 168.25,
        "wires": []
    },
    {
        "id": "5afddf72f2be602f",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "name": "",
        "topic": "home-1-in/1/2/1/0/2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1463.75,
        "y": 208.25,
        "wires": []
    },
    {
        "id": "5a33996b81f51c1c",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "name": "",
        "topic": "home-1-in/1/3/1/0/2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1463.75,
        "y": 248.25,
        "wires": []
    },
    {
        "id": "a5c985df79414a3a",
        "type": "trigger",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "op1": "alarmStep",
        "op2": "1",
        "op1type": "flow",
        "op2type": "str",
        "duration": "-200",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "stop",
        "bytopic": "all",
        "topic": "state",
        "outputs": 1,
        "x": 360,
        "y": 760,
        "wires": [
            [
                "3a76153a8d408d47"
            ]
        ]
    },
    {
        "id": "3a76153a8d408d47",
        "type": "switch",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "property": "alarmStep",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "6d5855b4602f7316"
            ],
            [
                "abd6de833d19163e"
            ]
        ]
    },
    {
        "id": "6d5855b4602f7316",
        "type": "change",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "alarmStep",
                "pt": "flow",
                "from": "1",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 655,
        "y": 662,
        "wires": [
            [
                "a5c1eb39ddd4f2c5"
            ]
        ]
    },
    {
        "id": "abd6de833d19163e",
        "type": "change",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "alarmStep",
                "pt": "flow",
                "from": "0",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 655,
        "y": 822,
        "wires": [
            [
                "e227eb534268b475"
            ]
        ]
    },
    {
        "id": "a5c1eb39ddd4f2c5",
        "type": "function",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "function 7",
        "func": "var a = {payload:\"1\"};\nvar b = {payload:\"0\"};\nvar c = {payload:\"1\"};\n\nreturn [a,b,c];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 851.25,
        "y": 693.75,
        "wires": [
            [
                "562781d949fcc3bc"
            ],
            [
                "3d8c1e4395b136d4"
            ],
            [
                "8f7ca9a1dab49c7a"
            ]
        ]
    },
    {
        "id": "e227eb534268b475",
        "type": "function",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "function 8",
        "func": "var a = {payload:\"0\"};\nvar b = {payload:\"1\"};\nvar c = {payload:\"0\"};\n\nreturn [a,b,c];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 851.25,
        "y": 773.75,
        "wires": [
            [
                "562781d949fcc3bc"
            ],
            [
                "3d8c1e4395b136d4"
            ],
            [
                "8f7ca9a1dab49c7a"
            ]
        ]
    },
    {
        "id": "562781d949fcc3bc",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "topic": "home-1-in/1/0/1/0/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1095,
        "y": 702,
        "wires": []
    },
    {
        "id": "3d8c1e4395b136d4",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "topic": "home-1-in/1/2/1/0/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1095,
        "y": 742,
        "wires": []
    },
    {
        "id": "8f7ca9a1dab49c7a",
        "type": "mqtt out",
        "z": "163694fedffa4e54",
        "d": true,
        "name": "",
        "topic": "home-1-in/1/3/1/0/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1095,
        "y": 782,
        "wires": []
    },
    {
        "id": "cc31409ccd0aa0df",
        "type": "switch",
        "z": "163694fedffa4e54",
        "name": "",
        "property": "alarmStep",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 888.75,
        "y": 226.25,
        "wires": [
            [
                "a365b8ea7553b279"
            ],
            [
                "ba351664eee1bc90"
            ]
        ]
    },
    {
        "id": "ba351664eee1bc90",
        "type": "change",
        "z": "163694fedffa4e54",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "alarmStep",
                "pt": "flow",
                "from": "0",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1023.75,
        "y": 288.25,
        "wires": [
            [
                "a84168ca3a323b3a"
            ]
        ]
    },
    {
        "id": "a365b8ea7553b279",
        "type": "change",
        "z": "163694fedffa4e54",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "alarmStep",
                "pt": "flow",
                "from": "1",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1023.75,
        "y": 128.25,
        "wires": [
            [
                "a84168ca3a323b3a"
            ]
        ]
    },
    {
        "id": "96f16321137ef762",
        "type": "change",
        "z": "163694fedffa4e54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "alarmStep",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 488.75,
        "y": 146.25,
        "wires": [
            [
                "f9457a46457d1479"
            ]
        ]
    },
    {
        "id": "be4191076729574e",
        "type": "function",
        "z": "be52314f2c5df85b",
        "name": "ConvertInput",
        "func": "\nvar msg = { topic: \"nodeRed/home-1/1/*/set/?V_STATUS=\"+msg.payload.status, payload: \"Lights turned off\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "b9b753656671e96f"
            ]
        ]
    },
    {
        "id": "b9b753656671e96f",
        "type": "mqtt out",
        "z": "be52314f2c5df85b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "a713811d1d26bd0e",
        "type": "subflow:04fe0b4eaf4d3a1b",
        "z": "e350eee7579e2892",
        "name": "",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "b87ffa8192588982"
            ]
        ]
    },
    {
        "id": "1ea7c45f052bd412",
        "type": "function",
        "z": "e350eee7579e2892",
        "name": "ConvertInput",
        "func": "var new_msg = {topic:\"checkTemp\", payload:msg.payload}\nreturn [{ payload: { nodeIn: msg.payload.tempNodeIn, nodeOut: msg.payload.tempNodeOut } },new_msg];\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 180,
        "wires": [
            [
                "a713811d1d26bd0e"
            ],
            [
                "20f582e426f20cd0"
            ]
        ]
    },
    {
        "id": "20f582e426f20cd0",
        "type": "join",
        "z": "e350eee7579e2892",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "bb1e04bea2e98f1f"
            ]
        ]
    },
    {
        "id": "b87ffa8192588982",
        "type": "function",
        "z": "e350eee7579e2892",
        "name": "ConvertTemp",
        "func": "msg.topic = \"checkTemp\"\nreturn { topic: \"checkTemp\", payload:{currentTemp:msg.payload}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "20f582e426f20cd0"
            ]
        ]
    },
    {
        "id": "bb1e04bea2e98f1f",
        "type": "function",
        "z": "e350eee7579e2892",
        "name": "SetRequest",
        "func": "\nvar currentTemp = msg.payload.currentTemp;\nvar requestedTemp = msg.payload.requestedTemp;\nif(currentTemp && requestedTemp){\n    if(currentTemp<requestedTemp){\n        return { topic:\"nodeRed/home-1/2/0/set/?V_STATUS=1\",payload:\"1\"}\n    }else{\n        return { topic: \"nodeRed/home-1/2/0/set/?V_STATUS=0\", payload: \"0\" }\n    }\n}else{\n    return {topic:\"unknown\",payload:\"unknown\"}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 240,
        "wires": [
            [
                "db4bdd376d11f4e9"
            ]
        ]
    },
    {
        "id": "db4bdd376d11f4e9",
        "type": "mqtt out",
        "z": "e350eee7579e2892",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "3967ef6c5e005648",
        "type": "mqtt in",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "esp32/message",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e105f671fc970370",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "09aeb00f42337768"
            ]
        ]
    },
    {
        "id": "baab148ffabb2d8e",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "esp32/gpio",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "c85c24d49a95ad22",
        "type": "ui_switch",
        "z": "3b6c17648570cf84",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "e99ae53464ca7e5d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED1-ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED1-OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "baab148ffabb2d8e"
            ]
        ]
    },
    {
        "id": "09aeb00f42337768",
        "type": "ui_toast",
        "z": "3b6c17648570cf84",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "2e9c73ac3aef00b6",
        "type": "mqtt in",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "esp32/temp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "e105f671fc970370",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 60,
        "wires": [
            [
                "87a1de2de69ecfb1"
            ]
        ]
    },
    {
        "id": "87a1de2de69ecfb1",
        "type": "ui_toast",
        "z": "3b6c17648570cf84",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "34ac056e66740a0a",
        "type": "mqtt in",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "SetAlarm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e105f671fc970370",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "86bcfa8d05d92e97"
            ]
        ]
    },
    {
        "id": "86bcfa8d05d92e97",
        "type": "subflow:163694fedffa4e54",
        "z": "3b6c17648570cf84",
        "name": "Alarm",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "71cde674ff61222f",
        "type": "cronplus",
        "z": "3b6c17648570cf84",
        "name": "TaskScheduler",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "file",
        "commandResponseMsgOutput": "output2",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 2,
        "options": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "bdcd37b2f8d25534"
            ],
            []
        ]
    },
    {
        "id": "bf14974376c78567",
        "type": "mqtt in",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e105f671fc970370",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "71cde674ff61222f"
            ]
        ]
    },
    {
        "id": "2d7b2c63a48824d4",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "1436fbee4b8ad5ea",
        "type": "inject",
        "z": "3b6c17648570cf84",
        "name": "maintainTemp",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"add\",\"name\":\"home-1-in/2/1/2/0/0\",\"expression\":\"0/10 * * * * * *\",\"payload\":{\"action\":\"maintainTemp\",\"tempNodeIn\":\"home-1-in/1/1/2/0/0\",\"tempNodeOut\":\"home-1-out/1/1/1/0/0\",\"requestedTemp\":25},\"type\":\"json\"}]",
        "payloadType": "json",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "2d7b2c63a48824d4"
            ]
        ]
    },
    {
        "id": "f72dc844800b4d07",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 483,
        "y": 800,
        "wires": []
    },
    {
        "id": "e08f935d4af1db0d",
        "type": "inject",
        "z": "3b6c17648570cf84",
        "name": "Remove maintainTemp",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"remove\",\"name\":\"home-1-in/2/1/2/0/0\"}]",
        "payloadType": "json",
        "x": 263,
        "y": 800,
        "wires": [
            [
                "f72dc844800b4d07"
            ]
        ]
    },
    {
        "id": "f85ddf64d4e72554",
        "type": "subflow:04fe0b4eaf4d3a1b",
        "z": "3b6c17648570cf84",
        "name": "",
        "x": 700,
        "y": 460,
        "wires": [
            [
                "8b59a915936c5b27"
            ]
        ]
    },
    {
        "id": "bdcd37b2f8d25534",
        "type": "switch",
        "z": "3b6c17648570cf84",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getTemp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "allLights",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "maintainTemp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "f85ddf64d4e72554"
            ],
            [
                "ad3c69c462df2810"
            ],
            [
                "40e641fb2f05547a"
            ]
        ]
    },
    {
        "id": "03b797c89c95b528",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 483,
        "y": 900,
        "wires": []
    },
    {
        "id": "bde855031aad0bf6",
        "type": "inject",
        "z": "3b6c17648570cf84",
        "name": "Add turnOffLights",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"add\",\"name\":\"home-1-in/1/+/1/0/2\",\"expression\":\"0 0 22 * * * *\",\"payload\":{\"action\":\"turnOffLights\",\"nodeIn\":\"home-1-in/1/+/1/0/2\",\"nodeOut\":\"home-1-out/1/+/1/0/2\",\"status\":\"0\"},\"type\":\"json\"}]",
        "payloadType": "json",
        "x": 253,
        "y": 900,
        "wires": [
            [
                "03b797c89c95b528"
            ]
        ]
    },
    {
        "id": "769c334b0fb7799e",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 486,
        "y": 980,
        "wires": []
    },
    {
        "id": "c0d7d7a4ca4a103e",
        "type": "inject",
        "z": "3b6c17648570cf84",
        "name": "Remove turnOffLights",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"remove\",\"name\":\"home-1-in/1/+/1/0/2\"}]",
        "payloadType": "json",
        "x": 266,
        "y": 980,
        "wires": [
            [
                "769c334b0fb7799e"
            ]
        ]
    },
    {
        "id": "ad3c69c462df2810",
        "type": "subflow:be52314f2c5df85b",
        "z": "3b6c17648570cf84",
        "name": "",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "7b1dada76bea96ca",
        "type": "mqtt in",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "home-1-out/1/4/1/0/36",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e105f671fc970370",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "ead47349f107fef2"
            ]
        ]
    },
    {
        "id": "ead47349f107fef2",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "SetAlarm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 400,
        "y": 340,
        "wires": []
    },
    {
        "id": "40e641fb2f05547a",
        "type": "subflow:e350eee7579e2892",
        "z": "3b6c17648570cf84",
        "name": "maintainTemp",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "6e7faa6846273481",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 1170,
        "y": 460,
        "wires": []
    },
    {
        "id": "8b59a915936c5b27",
        "type": "function",
        "z": "3b6c17648570cf84",
        "name": "function 10",
        "func": "return { topic:\"home-1-out/1/1/1/0/0\", payload:msg.payload};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 460,
        "wires": [
            [
                "6e7faa6846273481"
            ]
        ]
    },
    {
        "id": "4e60b9f91ad91507",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "07888385ab53e52e",
        "type": "inject",
        "z": "3b6c17648570cf84",
        "name": "getTemp",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"add\",\"name\":\"home-1-in/1/1/2/0/0\",\"expression\":\"0/10 * * * * * *\",\"payload\":{\"action\":\"getTemp\",\"nodeIn\":\"home-1-in/1/1/2/0/0\",\"nodeOut\":\"home-1-out/1/1/1/0/0\"},\"type\":\"json\"}]",
        "payloadType": "json",
        "x": 700,
        "y": 720,
        "wires": [
            [
                "4e60b9f91ad91507"
            ]
        ]
    },
    {
        "id": "f7d8ac3b8ab6e285",
        "type": "mqtt out",
        "z": "3b6c17648570cf84",
        "name": "",
        "topic": "updateSchedule",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e105f671fc970370",
        "x": 963,
        "y": 800,
        "wires": []
    },
    {
        "id": "96395f1784a4431a",
        "type": "inject",
        "z": "3b6c17648570cf84",
        "name": "Remove getTemp",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"remove\",\"name\":\"home-1-in/1/1/2/0/0\"}]",
        "payloadType": "json",
        "x": 723,
        "y": 800,
        "wires": [
            [
                "f7d8ac3b8ab6e285"
            ]
        ]
    },
    {
        "id": "7f00bfbb83bae7d6",
        "type": "inject",
        "z": "bd27cbe1e34e757e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "a775fe45bd0352e8",
                "e82cc8ac6623fdc7"
            ]
        ]
    },
    {
        "id": "a775fe45bd0352e8",
        "type": "exec",
        "z": "bd27cbe1e34e757e",
        "command": "python3 ~/telegram_services/telegram_server.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e82cc8ac6623fdc7",
        "type": "exec",
        "z": "bd27cbe1e34e757e",
        "command": "sudo ~/MySensors/bin/mysgw",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ac3afbb7.56f7a8",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "describe 0 */5 * * * MON *",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"describe\",\"expression\":\"0 */5 * * * MON *\"}",
        "payloadType": "json",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "65892a57.612d44",
        "type": "cronplus",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "",
        "outputField": "payload",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output2",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 2,
        "options": [
            {
                "name": "e15",
                "topic": "Every 15",
                "payloadType": "str",
                "payload": "XDD",
                "expressionType": "cron",
                "expression": "0 59 19 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "noon",
                "topic": "noon",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 12 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 780,
        "y": 520,
        "wires": [
            [
                "8a452815.9ceb68"
            ],
            [
                "e60daf12.48c83"
            ]
        ]
    },
    {
        "id": "e55fda59.f37f18",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Get list of schedules",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "list-all",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "8a452815.9ceb68",
        "type": "debug",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Sched Trigger",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1000,
        "y": 480,
        "wires": []
    },
    {
        "id": "e60daf12.48c83",
        "type": "debug",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Control Reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1000,
        "y": 520,
        "wires": []
    },
    {
        "id": "16c930f5.ec3a9f",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "add every 6 (maxCount 3)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "{\"command\":\"add\",\"name\":\"every 6\",\"expression\":\"*/6 * * * * * *\",\"type\":\"default\",\"limit\":3}",
        "payloadType": "json",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "ad104abb.fc4a28",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "remove every 6",
        "props": [
            {
                "p": "payload",
                "v": "{\"command\": \"remove\", \"name\":\"every 6\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "remove every 6",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "remove every 6",
        "payload": "{\"command\": \"remove\", \"name\":\"every 6\"}",
        "payloadType": "json",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "9126a056.6de91",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "stop every 6",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\": \"stop\", \"name\":\"every 6\"}",
        "payloadType": "json",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "e8abe66.6a0aa18",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "pause every 6",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\": \"pause\", \"name\":\"every 6\"}",
        "payloadType": "json",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "9e8a3202.ae3d9",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "add every 8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "_ignore_",
        "payload": "{\"command\":\"add\",\"name\":\"every 8\",\"expression\":\"*/8 * * * * * *\",\"payload\":\"hi every 8\",\"type\":\"str\"}",
        "payloadType": "json",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "276fbb6f.b78e94",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "remove every 8",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "remove",
        "payload": "every 8",
        "payloadType": "str",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "540f9bdc.808cf4",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "start every 6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "every 6",
        "payloadType": "str",
        "x": 430,
        "y": 520,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "f7509f08.69bb9",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "remove-all-dynamic",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "remove-all-dynamic",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 620,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "e057de86.30bfa",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "pause-all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\": \"pause-all\"}",
        "payloadType": "json",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "b247f14a.cf2f",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "start-all",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start-all",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 840,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "6ea9b27a.04bf6c",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "stop-all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "stop-all",
        "payload": "{\"command\": \"stop-all\"}",
        "payloadType": "json",
        "x": 420,
        "y": 720,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "4a1dc32e.9dbf1c",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "add 3 schedules",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "add",
        "payload": "[{\"command\":\"add\",\"name\":\"every 5 mins on monday\",\"expression\":\"0 */5 * * * MON *\",\"payload\":\"hi every 5 - it must be monday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 10 mins on tuesday\",\"expression\":\"0 */10 * * * TUE *\",\"payload\":\"It must be tuesday\",\"type\":\"str\",\"limit\":3},{\"command\":\"add\",\"name\":\"every 20s Wed~Sun\",\"expression\":\"*/20 * * * * 3-7 *\",\"payload\":\"Hi wed~sun\",\"type\":\"default\",\"limit\":3}]",
        "payloadType": "json",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "6dde0693.66ed08",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "describe array of expressions",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"command\":\"describe\",\"expression\":\"0 0 2 29 FEB * 2020-2040\"},{\"command\":\"describe\",\"expression\":\"4 */7 * * * 1-4 *\"},{\"command\":\"describe\",\"expression\":\"0/20 * * * * MON *\"}]",
        "payloadType": "json",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "27e00c01.1fd474",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Get status of \"every 8\"",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "status",
        "payload": "every 8",
        "payloadType": "str",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "221cb0d1.2321f",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "export all dynamic schedules",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"export-all-dynamic\"}",
        "payloadType": "json",
        "x": 480,
        "y": 960,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "482be49c.66898c",
        "type": "comment",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Fully dynamic example demonstrating many functions of CRON-PLUS - see built in help for more info",
        "info": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c39c8ac.e11a08",
        "type": "cronplus",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Tokyo 8am & 4:30pm, Mon ~ Fri",
        "outputField": "payload",
        "timeZone": "Asia/Tokyo",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "Start-of-shift",
                "payloadType": "str",
                "payload": "Start work now Tokyo",
                "expressionType": "cron",
                "expression": "0 0 8 * * 1-5",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "schedule2",
                "topic": "End-of-shift",
                "payloadType": "str",
                "payload": "Go home Tokyo",
                "expressionType": "cron",
                "expression": "0 30 16 * * 1-5",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 850,
        "y": 760,
        "wires": [
            [
                "7945501b.3547"
            ]
        ]
    },
    {
        "id": "7945501b.3547",
        "type": "debug",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "x": 1050,
        "y": 760,
        "wires": []
    },
    {
        "id": "7ad3fa7f.e3acd4",
        "type": "cronplus",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Simple every hour Mon ~ Fri",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "hourly",
                "payloadType": "str",
                "payload": "Every hour, mon-fri",
                "expressionType": "cron",
                "expression": "0 0 * * * MON-FRI",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 840,
        "y": 660,
        "wires": [
            [
                "5f323eb9.e9f7d"
            ]
        ]
    },
    {
        "id": "5f323eb9.e9f7d",
        "type": "debug",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "48b74cdb.647ea4",
        "type": "comment",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Demonstrating 2 schedules & timezone",
        "info": "",
        "x": 870,
        "y": 720,
        "wires": []
    },
    {
        "id": "94553308.0c403",
        "type": "comment",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "Simple example. Only 1 UI entry so inject button appears",
        "info": "",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "2db145e3.78f78a",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "stop-all-dynamic",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "stop-all-dynamic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop-all-dynamic",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 760,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "9ac1b61.86b6d48",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "stop-all-static",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop-all-static",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 800,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "81b4094b.d0d778",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "start-all-dynamic",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start-all-dynamic",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 880,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    },
    {
        "id": "b3512276.df97c",
        "type": "inject",
        "z": "2357919e6cb1877f",
        "d": true,
        "name": "start-all-static",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start-all-static",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "65892a57.612d44"
            ]
        ]
    }
]